<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Main/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Книги</h1>
    <p>Кни́га, книжка — письмовий запис, неперіодичне видання у вигляді зброшурованих аркушів друкованого матеріалу, набір письмових, друкованих,
    ілюстрованих або порожніх аркушів, виготовлених з паперу, пергаменту або іншого матеріалу, як правило, скріплених з одного боку.</p>
    <a href="/templates/Book/main.html">Books</a>
    <a href="/templates/Author/main.html">Author</a>
    <img src="{% static 'Main/img/1.jpg' %}" alt="">
    <img src="{% static 'Main/img/2.jpg' %}" alt="">
    <img src="{% static 'Main/img/3.jpg' %}" alt="">
    <img src="{% static 'Main/img/4.jpg' %}" alt="">
</body>
</html>